.caixa{
    background: #03989e;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    padding-left: 70px;
    z-index: 1;
}

nav ul{
    position: absolute;
    top: 45px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 120px;
}

nav li{
    list-style: none;
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #f8f8f8;
    font-family: 'Quattrocento', serif;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 800ms, color 800ms;
}

nav a:hover{
    background-color:#055255;
    color: #f8f8f8;
    text-decoration: none;

    border-radius: 20px;
    text-align: center;
    padding: 5px 25px;
    letter-spacing: .5px;
}

.abertura{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.titulos{
    background-color: transparent;
    margin: 150px 6.7vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 5vw;
}

h1.site-title{
    color: #055255;
    text-align: center;
    font-size: 8em;
    line-height: 1em;
}

h2.site-subtitle{
    color: #f8f8f8;
    margin-top: 20px;
    font-size: 1.4em;
    text-align: center;
    background-color: #055255;
    border-radius: 91.5px;
    border: none;
    letter-spacing: .1rem;
    height: 60px;
    padding-top: 12px;
}

.foto{
    background-color: transparent;
    display: flex;
    width: 40vw;
    margin-top: 60px;
    margin-left: 5vw;
    max-width: 500px;
    min-height: 370px;
    max-height: 70vh;
}

.pensador_frase,
.pensador_foto{
    border-radius: 20px;
}

section.quem_e, 
section.logoterapia_analise,
section.logoterapia{
    background-color: #f8f8f8;
    color: #03989e;
    padding: 8.6em 3.6em 7.9em 3.6em;    
    min-height: 70vh;
}

section.quem_e h2, 
section.logoterapia_analise h2,
section.logoterapia h2{
    color: #03989e;
    font-size: 2.2em;
    margin-bottom: 1.2em;
    font-weight: bold;
}

section.quem_e p, 
section.logoterapia_analise p,
section.logoterapia p{
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
    font-size: 1.2em;
}

section.logoterapia_analise .profile{
    position: relative;
    display: flex;
    width: 380px;
    height: 300px;
    float: right;
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);  
    margin-left: 30px;
}

section.quem_e .profile{
    position: relative;
    display: flex;
    width: 400px;
    height: 300px;
    float: left;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);    
    margin-right: 30px;
}

section.logoterapia .profile{
    position: relative;
    display: flex;
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 30px;
}

ul.pilares{
    list-style-type: circle;
    text-indent: 1em;
    margin-left: 1em;
    text-align: justify;
    font-size: 1em;
}

ul.pilares li{
    margin-bottom: 0.5em; 
}

footer{
    background-color: #f8f8f8;
    width: 100%;
    z-index: 1;
}

.pe{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    color: #03989e;
}

.pe a{
    color: #03989e;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
}