
header{
    background: #03989e;
}

.caixa{
    position: relative;
    width: 1130px;
    margin: 0 auto;
    
}

nav ul{
    position: absolute;
    top: 45px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: #f5f5ef;
    font-family: 'Quattrocento', serif;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 800ms, color 800ms;
}

nav a:hover{
    background-color: teal;
    color: whitesmoke;
    text-decoration: none;

    border-radius: 20px;
    text-align: center;
    padding: 5px 25px;
    letter-spacing: .5px;
  }

main{
    background-color: #f5f5ef;
}