
.caixa{
    background: #03989e;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    padding-left: 70px;
    z-index: 1;
}

nav ul{
    position: absolute;
    top: 45px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 120px;
}

nav li{
    list-style: none;
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #f5f5ef;
    font-family: 'Quattrocento', serif;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 800ms, color 800ms;
}

nav a:hover{
    background-color: teal;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    padding: 5px 25px;
    letter-spacing: .5px;
  }


.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

section.dados_universitarios{
    background-color: #03989e;
    color: #f8f8f8;
    padding: 8.6em 3.6em 3.6em 3.6em;
    min-height: 70vh;
}

section.doencas{
    background-color: #03989e;
    color: #f8f8f8;
    padding: 8.6em 3.6em 3.6em 3.6em;
    min-height: 100vh;
}

section.pensador,
section.contatos{
    background-color: #f8f8f8;
    color: #03989e;
    padding: 8.6em 3.6em 3.6em 3.6em;    
    min-height: 70vh;
}

section.dados_universitarios h2,
section.doencas h2{
    color: #f8f8f8;
    font-size: 2.2em;
    margin-bottom: 1.2em;
    font-weight: bold;
}

section.pensador h2,
section.contatos h2{
    color: #03989e;
    font-size: 2.2em;
    margin-bottom: 1.2em;
    font-weight: bold;
}

section.dados_universitarios p,
section.doencas p,
section.pensador p,
section.quiz p,
section.contatos p{
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
    font-size: 1.2em;
}

.abertura_doencas{
    min-height: 15vh;
    margin-bottom: 5vw;
}

.box_apresentacao{
    margin: 210px 6.5vw 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1_apresentacao{
    background-color: transparent ;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    margin-bottom: 30px;
}

.col2_apresentacao{
    background-color: transparent ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    max-width: 45vw;
}

.col2_apresentacao p{
    color: #03989e;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
    font-size: 1.2em;
}

.box_dados,
.box_quiz,
.box_doencas,
.box_contatos{
    background-color: transparent;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1_dados{
    background-color: transparent ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    max-width: 40vw;
}

.col2_dados{
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-bottom: 30px;
}

img.grafico,
img.pensador_foto{
    border-radius: 20px;
}

.col1_doencas_psico,
.col2_doencas_saude{
    background-color: transparent ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 5vw;
    min-width: 30vw;
}

.conteudo{
    background-color: #f8f8f8;
    color: #03989e;
    min-height: 120px;
    border-radius: 20px;
    padding: 30px;
}

ul.lista_doencas_psico,
ul.lista_doencas_saude,
ul.lista_psicologos{
    list-style: circle;
    text-indent: 1.1em;
    margin-left: 2em;
    text-align: justify;
    font-size: 1.3em;
}

ul.lista_doencas_psico li,
ul.lista_doencas_saude li,
ul.lista_psicologos li{
    margin-bottom: 0.5em; 
}

ul.lista_doencas_psico li a,
ul.lista_doencas_saude li a,
ul.lista_psicologos li a{
    text-decoration: none;
    color: #03989e;
    transition: background-color 800ms, color 800ms;
}

ul.lista_doencas_psico li a:hover,
ul.lista_doencas_saude li a:hover,
ul.lista_psicologos li a:hover{
    text-decoration: none;
    color: #033638;
}

.col_mapa{
    background-color: transparent ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    max-width: 45vw;
}

.col_links{
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20vw;
    max-width: 45vw;
}

.box_pensador{
    background-color: transparent;
    margin: 0 6.7vw 0;
    margin-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}

h1.pensador-title{
    color: #03989e;
    text-align: center;
    font-size: 6em;
    line-height: 1em;
}

a.pensador-subtitle{
    text-decoration: none;
    color: #f8f8f8;
    margin-top: 20px;
    font-size: 1.4em;
    text-align: center;
    background-color: #055255;
    border-radius: 91.5px;
    border: none;
    letter-spacing: .1rem;
    height: 40px;
    padding-top: 15px;
    transition: background-color 800ms, color 800ms;
}

a.pensador-subtitle:hover{
    background-color:#022828;
    text-decoration: none;
}

.mapa{
    margin-bottom: 1.4em;
}

.icon{
    background-color: transparent;
    display: flex;
    width: 40vw;
    margin-top: 90px;
    margin-left: 90px;
    max-width: 500px;
    min-height: 370px;
    max-height: 70vh;
}

footer{
    background-color: #03989e;
    width: 100%;
    z-index: 1;
  }

  .pe{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    color: #f8f8f8;
  }

  .pe a{
    color: #f8f8f8;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
  }